#Map {
    height: calc(100% * 2 / 3);
}

#Map .tool {
    z-index: 1;
    position: absolute;
    left: calc(50% - 7.5rem);
    bottom: 1rem;
    width: 15rem;
    height: 3rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    background-color: white;
    filter: drop-shadow(0 0 .5rem rgba(0, 0, 0, .1));
}

#Map .tool .item {
    cursor: pointer;
    margin: .5rem;
    width: 2rem;
    height: 2rem;
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--ms);
}

#Map .tool .item:hover,
#Map .tool .item:has(input:checked) {
    background-color: whitesmoke;
}

#Map .tool .item input[type='radio'] {
    display: none;
}

#Map .tool .item>i {
    transition: var(--ms);
}

#Map .tool .item:hover>i {
    transform: scale(1.2);
}

#Map #search {
    position: absolute;
    left: 3rem;
    padding: .5rem;
    width: 11.5rem;
    height: 2rem;
    border-radius: .25rem;
    outline: none;
    border: none;
    background-color: whitesmoke;
    transition: var(--ms);
}

#Map #search:not(:focus) {
    padding: 0;
    width: 0;
}

#Map .marker {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    background-color: var(--color-black);
    color: white;
    font-size: small;
    font-weight: 600;
}