#Map {
    height: 100%;
}

#Map .tool {
    z-index: 1;
    position: absolute;
    left: calc(50% - 9rem);
    bottom: 1rem;
    width: 18rem;
    height: 3rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    background-color: white;
    filter: drop-shadow(0 0 .5rem rgba(0, 0, 0, .1));
}

#Map .tool .item {
    cursor: pointer;
    margin: .5rem;
    width: 2rem;
    height: 2rem;
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--ms);
}

#Map .tool .item:hover,
#Map .tool .item:has(input:checked) {
    background-color: whitesmoke;
}

#Map .tool .item input[type='radio'] {
    display: none;
}

#Map .tool .item>i {
    pointer-events: none;
    transition: var(--ms);
}

#Map .tool .item:hover>i {
    transform: scale(1.2);
}

#Map #search {
    position: absolute;
    left: 3rem;
    padding: .5rem;
    width: 14.5rem;
    height: 2rem;
    border-radius: .25rem;
    border: none;
    outline: none;
    background-color: whitesmoke;
    transition: var(--ms);
}

#Map #search:not(:focus) {
    padding: 0;
    width: 0;
}

#Map .marker {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--color-black);
    color: white;
    font-size: small;
    font-weight: 600;
}

#Map *:has(>.marker) {
    pointer-events: none;
}

#Map div:has(>div>.iw_inner) {
    border: none !important;
    background-color: transparent !important;
}

#Map div:has(>.iw_inner)+div,
#Map div:has(>.iw_inner)+div+div {
    display: none;
}

#Map .iw_inner {
    position: relative;
    padding: 1rem 1rem 0;
    border: 2px solid var(--color-black) !important;
    border-radius: 3px;
    background-color: white;
}

#Map .iw_inner .text {
    display: flex;
}

#Map .iw_inner .text *:first-child {
    width: 3rem;
    text-align: left;
}

#Map .iw_inner .close {
    cursor: pointer;
    margin: .5rem 0;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    transition: var(--ms);
}

#Map .iw_inner .close:hover {
    background-color: whitesmoke;
}

#Map .iw_inner .close i {
    transition: var(--ms);
}

#Map .iw_inner .close:hover i {
    transform: scale(1.2);
}

#Map .iw_inner i.back {
    z-index: -1;
    position: absolute;
    left: 50%;
    bottom: 2px;
    width: 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transform: rotate(90deg) scale(1.2);
}

#Map .iw_inner i.back+i.back {
    z-index: 1;
    color: white;
    transform: rotate(90deg) scale(.9);
}